[submodule "source/webmail-user-guide/roundcubemail"]
	path = source/webmail-user-guide/roundcubemail
	url = https://github.com/roundcube/roundcubemail-helpdocs
	ignore = dirty
[submodule "source/webmail-user-guide/roundcubemail-plugins-kolab"]
	path = source/webmail-user-guide/roundcubemail-plugins-kolab
	url = git://git.kolab.org/git/roundcubemail-plugins-kolab
	ignore = dirty
[submodule "ext/kolab"]
	path = ext/kolab
	url = https://github.com/kolab-groupware/sphinx-ext.git
	ignore = dirty
[submodule "ext/kolabnow"]
	path = ext/kolabnow
	url = ssh://git.kolabsys.com/git/sphinx-theme-kolabnow
