build/
osc-cache/
.*.kate-swp
.*.swp
*.pyc
*.mo
build/locale/.doctrees/
source/conf.local.py
source/client-configuration/_fancyfigures
source/webmail-user-guide/roundcubemail/
source/webmail-user-guide/_static/
