[submodule "source/webmail-user-guide/roundcubemail"]
	path = source/webmail-user-guide/roundcubemail
	url = https://github.com/roundcube/roundcubemail-helpdocs
[submodule "source/webmail-user-guide/roundcubemail-plugins-kolab"]
	path = source/webmail-user-guide/roundcubemail-plugins-kolab
	url = git://git.kolab.org/git/roundcubemail-plugins-kolab
[submodule "ext/kolab"]
	path = ext/kolab
	url = https://github.com/kolab-groupware/sphinx-ext.git
